{% extends 'blog/base.html' %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<div class="mt-4">
    <h1>Blog Posts</h1>
    <a href="{% url 'post_new' %}" class="btn btn-primary mb-3">New Post</a>
    <ul class="list-group">
        {% for post in posts %}
        {% if post.is_visible %}
        <li class="list-group-item">
            <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
